img, span, div, .unselectable 
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
                                  cursor: default;
}

span, input {
    font-family: monospace;
}

span {
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 31px;
    white-space:pre-wrap;
}